body{
    margin: 0; padding: 0;
    font-family: 'Roboto';
}
#logo{
    width: 70%;
}
.cor{
    transition:  ease-in .4s;
}
.grayscale { 
    transition:  ease-in .4s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}
#menuCidades{
    width: 120px;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    animation: fadeInDownb .3s linear;
    display: none;
}
.box-menu-cidades{
    border: 1px solid red;
    width: 100%;
}
#chamada-texto{
    animation: fadeInDownTitle .2s linear;
}
#chamada-texto-p{
    animation: fadeInDownTitleB .3s linear;
}
@keyframes fadeInDownTitle{
    from {
        opacity: 0;
        transform: translate3d(0, -60%, 0);
    }
    
    to {
        opacity: 1; 
        transform: translate3d(0, 0, 0);
    }
}

#texto-flag{
    padding-left: 4px;
}
.fadeInDown {
    animation-name: fadeInDown;
}
i {
    text-align: center;
    font-size: 16px;
    width: 45%;
}
a{
    display: block!important;
    position: relative!important;
    text-align: left;
    color: white;
    text-decoration: none;
}
a:focus{
    outline: none;
}
a:visited{
    color: white;
}

#bg{
    background-image: url('../img/background.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: absolute;
}
.main-container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: none!important;
}
.box-conteudo{
    height: 85%;
    margin-left: 50px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.box-textos{
    max-width: 425px;
    color: white;
}

.slick-slide{
    width: 100%!important;
    height: 100%;
    display: block!important;
    float: none!important;
    text-align: left;
}
h1{
    font-size: 68px;
    font-weight: bold;
    margin: 0!important;
    margin-bottom: 15px;
}
.box-textos > p{
    font-size: 16px;
    font-weight: 350;
    line-height: 1.4;
    text-align: left;
    width: 90%;
    padding-left: 4px;
}

.box-flags{
    color: white;
    width: 65%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);        
}

.flags{
    display: flex;
    justify-content: space-between;
    transition:  .2s;
    width: 100%;
}

.flags > div > img {
    width: 55px;
}
@media only screen and (max-width: 1366px){
    #menuCidades{
        width: 150px;
    }
    .flags {
        width: 70%;
    }
    .flags > div > img {
        width: 50px;
    }
    
    i {
        text-align: center;
        font-size: 16px;
        width: 33%;
    }
    .box-textos{
        max-width: 450px;
    }
    #logo {
        width: 60%;
    }
}
@media only screen and (max-width: 768px){
    #bg{
        background-position-x: 10%;
    }
    
}

@media only screen and (max-width: 640px){
    
    .main-container{
        background-color: #0b1733;
        width: 100vw;
        height: 100vh;
        overflow: none!important;
    }
    #bg{
        background-color: rgba(0, 0, 0, 0.253);
        background-blend-mode: overlay;
        height: 35%;
        background-size: cover;
        z-index: 0;
        margin: 0; padding: 0;
    } 
    a{
        font-size: 13px;
    }
    
    .box-conteudo{
        z-index: 1;
        height:  75%;
        margin: 0;
        padding-left: 10px;
    }
    .box-textos{
        margin-top: 50px;
        color: white;
        
    }
    h1{
        font-size: 35px;
        font-weight: bold;
        margin: 10px 0px 10px 0px;
    }
    .box-textos > p{
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        text-align: left;
        width: 92%;
        padding-left: 0;
    }
    #logo{
        width: 60%;
        margin: 0; padding: 0;
    }
    .box-flags{
        color: white;
        width: 75%;
    }
    
    .flags{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .flags img {
        transition: ease-in-out .2s;
        width:  45px;
    }
    i{
        max-width: 100px;
        width: 30%;
        
    }
}


@media only screen and (max-width: 880px) and (orientation:landscape){
    .main-container{
        height: 100%;
        overflow-y: none;
        background-color: #0b1733;
        width: 100vw;
    }
    .box-conteudo{
        z-index: 1;
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }
    #bg{
        background-color: none;
        display: block;
        z-index: 0;
        height: 30vh;
        background-position-y: 10%;
    } 
    #logo{
        max-width: 40%;
    }
    .flags{
        width: 60%;
    }
    .flags img {
        transition: ease-in-out .2s;
        width:  40px;
    }
    h1{
        font-size: 35px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
        font-weight: bold;
        margin: 10px 0px 10px 0px;
    }
    .box-textos > p{
        text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        text-align: left;
        width: 92%;
        padding-left: 0;
    }
}




@media only screen and (max-width:320px){
    h1{
        font-size: 25px;
        margin: 10px 0px 10px 0px;
        
    }
    .box-textos > p{
        padding-left: 0;
    }
}
